* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    /* height: 100vh; */
    background-color: #114BB3;
    /* overflow: hidden; */
}
header {
    width: 100vw;
    height: 80px;
    background-color: #003189;
    padding: 25px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ardess {
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}
.background-art, .bigTopVector, .smallMiddleVector, .bigBottomVector {
    position: absolute;
}
.background-art {
    height: 1840px;
    width: 100%;
}
.bigTopVector {
    left: 165px;
    top: 0;
}
.smallMiddleVector {
    top: 669px;
    right: 0;
}
.bigBottomVector {
    right: 0;
    bottom: 0;
}
.page-content {
    position: absolute;
    z-index: 1;
    padding-top: 24px;
    width: 100vw;
    height: 1840px;
    display: flex;
}
.players-list {
    width: 380px;
}
.list-head, .list-elem {
    width: 100%;
    padding: 19px 12px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.list-head {
    background-color: #08297E;
    border-radius: 0 20px 0 0;
    height: 50px;
}
.list-head p {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #fff;
}
.number {
    text-align: right;
    width: 24px;
}
.head-number {
    font-weight: 700 !important;
}
.head-player {
    width: 235px;
}
.head-points {
    width: 70px;
}
/* .list-elem-first {
    top: 133.26px;
} */
.list-elem {
    position: absolute;
    width: 380px;
    background-color: #E1F3FF;
    border-bottom: 1px dashed #2882EE;
    height: 59px;
    transition: top 0.75s;
    /* transition: background-color 60s ease; */
}
.list-elem p {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    color: #31404F;
}
.list-elem .points {
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-elem .player {
    width: 126px;
    height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.phone {
    font-weight: 400 !important;
    width: 74px;
}
.points-wrapper {
    width: 102px;
}
.points {
    color: #000;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 8px;
}
.promo-info {
    position: absolute;
    right: 0;
    padding: 0 30px;
    width: 700px;
}
.promo-info .page-name {
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #fff;
    margin-bottom: 12px;
}
.title {
    display: flex;
}
.title-desc {
    margin-left: 20px;
}
.title-desc h1 {
    font-family: sans-serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 46px;
    text-align: left;
    color: #fff;
    margin-bottom: 4px;
}
.date-range {
    font-family: sans-serif;
    font-size: 26px;
    font-weight: 600;
    line-height: 28.6px;
    text-align: left;
    color: #93d500;
}

.three-steps {
    width: 100%;
    height: 238px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.green-card {
    background-color: #2eac12;
    width: 200px;
    padding: 27px 20px 20px 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 50px 50px 50px 0;
}
.green-card .titleish {
    display: flex;
}
.titleish {
    flex-direction: column-reverse;
    gap: 10px;
}
.titleish .icon {
    width: 60px;
    height: 60px;
}
.green-card .titleish .text {
    font-family: sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    color: #fff;
}
.green-card .desc {
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: #fff;
} 
.rules {
    margin-top: 30px;
    /* height: 196px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; */
}
h2 {
    font-family: sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 30.8px;
    text-align: left;
    color: #fff;
}
.rules-content {
    margin-top: 16px;
    font-family: sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: left;
    color: #fff;
}

.reminder {
    display: flex;
    align-items: center;
    margin-top: 24px;
    padding: 10px 12px;
    border: 2px solid #088BE7;
    border-radius: 38px;
}
.text-reminder {
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 26.4px;
    text-align: left;
    color: #fff;
    margin-left: 12px;
}

.prizes {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.prizes img, .bets-history img{
    width: 32px;
    height: 32px;
}
.prize-title {
    display: flex;
    align-items: center;
    gap: 10px;
}
.ten-negros {
    width: 640px;
    height: 320px;
    background-color: #fff;
    border-radius: 30px;
    padding: 10px 20px;
    display: flex;
}
/* .first-five {
    width: 286px;
} */
.place-info {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 60px;
    max-width: 286px;
    border-bottom: 1px solid #8394A6;
    padding: 10px 0;
}
.place {
    height: 40px;
    width: 60px;
    color: #1E1E1E;
    background-color: #ADEE7B;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5.5px 9.5px;
    text-align: center;
    font-family: sans-serif;
}
.figure {
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
}
.mesto {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}
.coupon {
    display: flex;
    gap: 10px;
}
.coupon img {
    width: 30px;
}
.sum {
    color: #31404F;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 19.8px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.place-info-bottom, .bet-info-bottom {
    border: none !important;
}
.divider {
    width: 2px;
    height: 280px;
    background-color: #66bb6a;
    margin: 10px 18px;
}

.bets-history {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.history-title {
    display: flex;
    align-items: center;
    gap: 10px;
}
.bets-list {
    width: 640px;
    height: 330px;
    background-color: #08297E;
    padding: 9px 30px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    overflow: hidden;
}
.bets-list-messages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    overflow: hidden;
}
.dash {
    position: absolute;
    height: 1px;
    width: 540px;
    background-color: #526996;
}
.dash-one {
    bottom: 470px;
}
.dash-two {
    bottom: 360px;
}
.bet-info {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #fff;
    padding: 0 6px;
    min-height: 90px;
    /* border-bottom: 1px solid #8394A6; */
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.previous-winners {
    margin-top: 30px;
    width: 640px;
    height: 222px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.winners {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.winners-title {
    height: 35px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.winner-winner-chicken-dinner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #169c00;
    height: 50px;
    border-radius: 12px;
    padding: 10px 12px;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 19px;
    text-align: left;
    color: #fff;
}
.winner-place {
    width: 20px;
}
.winner-name {
    width: 100px;
}
.winner-phone {
    font-weight: 400;
    width: 300px;
}
.winner-prize {
    padding: 5px 10px;
    background-color: #fff;
    color: #000;
    border-radius: 7px;
    font-size: 18px;
    line-height: 19px;
}
.serviceUnavaliable {
    position: absolute;
    font-family: sans-serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 46px;
    text-align: left;
    color: #fff;
    background-color: #000;
    padding: 20px;
    border-radius: 20px;
    width: 50vw;
    text-align: center;
    left: 25vw;
    z-index: 2;
}